<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.npipf.tgh.time2learn">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".EndScreen"
            android:label="@string/title_activity_end_screen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Game5min"
            android:label="@string/title_activity_game5min"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Credits"
            android:label="@string/title_activity_credits"></activity>
    </application>

</manifest>
